<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        table{

        }
        .container{
            display: flex;
            flex-wrap: wrap;
        }
        #kutxabezero{
            width: 150px;
            border: 1px solid #aaa;
            margin: 15px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            
        }
        #kutxabezero div{
            margin: 3px;
        }
    </style>
</head>
<body>
    <a href="../" class="link-primary">Atzera</a>
    <h1>Bezeroak</h1>
    <div class="container">
        {% for x in bezeroak %}
        <div id="kutxabezero">
            <div>{{ x.izena }}</div>
            <div>{{ x.abizena }}</div>
            <div>{{ x.adina }}</div>
            <a href="delete/{{ x.id }}">Ezabatu</a>
            <a href="update/{{ x.id }}">Eguneratu</a>
        </div>
        {% endfor %}
        <p>
            <a href="add/">Gehitu bezeroa</a>
        </p>
    </div>
</body>
</html>